#include "winresrc.h"

GlebDialogBox DIALOG 50, 50, 150, 100
STYLE WS_BORDER|WS_CAPTION
FONT 14, "times new roman"
CAPTION "Message Box"
{
    CONTROL "MessageBox", 1, "STATIC", 0, 2, 2, 80, 10
    CONTROL "Exit", 2, "BUTTON", 0, 60, 30, 20
}
