#include "winresrc.h"

Ex4_Icon ICON "myicon.ico"

GlebDialogBox DIALOG 50, 50, 150, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 14, "times new roman"
CAPTION "ETO MULTI WINDOWS"
{
    CONTROL "MessageBox", 1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 10, 80, 20
    CONTROL "OK", 2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 10, 10, 25, 10
}

